
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
*.spec

# Node/Next.js (Global ignores if not caught by sub-gitignore)
node_modules/
.next/
out/
build/
dist/
.DS_Store
*.log
